@model IEnumerable<LecturankWeb.Models.SchoolListViewModel>

<h3 class="page-title">Schools</h3>

<ul class="school-list">
    @foreach (var school in Model)
    {
        <li>
            <a class="school-link" asp-action="Details" asp-route-id="@school.Id">@school.Name</a>
        </li>
    }
</ul>
