﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Lecturank</h1>
    <p>The home of the most reliable reviews for Nigerian Lecturers.</p> 
</div>